<html>
<head>
<title>TestNG:  Default test</title>
<link href="../testng.css" rel="stylesheet" type="text/css" />
<link href="../my-testng.css" rel="stylesheet" type="text/css" />

<style type="text/css">
.log { display: none;} 
.stack-trace { display: none;} 
</style>
<script type="text/javascript">
<!--
function flip(e) {
  current = e.style.display;
  if (current == 'block') {
    e.style.display = 'none';
    return 0;
  }
  else {
    e.style.display = 'block';
    return 1;
  }
}

function toggleBox(szDivId, elem, msg1, msg2)
{
  var res = -1;  if (document.getElementById) {
    res = flip(document.getElementById(szDivId));
  }
  else if (document.all) {
    // this is the way old msie versions work
    res = flip(document.all[szDivId]);
  }
  if(elem) {
    if(res == 0) elem.innerHTML = msg1; else elem.innerHTML = msg2;
  }

}

function toggleAllBoxes() {
  if (document.getElementsByTagName) {
    d = document.getElementsByTagName('div');
    for (i = 0; i < d.length; i++) {
      if (d[i].className == 'log') {
        flip(d[i]);
      }
    }
  }
}

// -->
</script>

</head>
<body>
<h2 align='center'>Default test</h2><table border='1' align="center">
<tr>
<td>Tests passed/Failed/Skipped:</td><td>0/1/0</td>
</tr><tr>
<td>Started on:</td><td>Wed Aug 19 02:36:59 IST 2020</td>
</tr>
<tr><td>Total time:</td><td>68 seconds (68987 ms)</td>
</tr><tr>
<td>Included groups:</td><td></td>
</tr><tr>
<td>Excluded groups:</td><td></td>
</tr>
</table><p/>
<small><i>(Hover the method name to see the test class name)</i></small><p/>
<table width='100%' border='1' class='invocation-failed'>
<tr><td colspan='4' align='center'><b>FAILED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='runner.ReqBrochureRunner.runScenario()'><b>runScenario</b><br>Test class: runner.ReqBrochureRunner<br>Test method: Runs Cucumber Scenarios<br>Parameters: "Request broucher", "APTouring Booking."</td>
<td><div><pre>org.openqa.selenium.ElementClickInterceptedException: element click intercepted: Element &lt;a data-ng-if=&quot;searchResult.SecondaryUrl&quot; href=&quot;/why-choose-apt/brochures/requestbrochure?brochureId=2f48b563-343d-4209-9954-dd49249050c5&quot; target=&quot;_blank&quot; class=&quot;btn btn--secondary ng-scope&quot;&gt;...&lt;/a&gt; is not clickable at point (125, 428). Other element would receive the click: &lt;div class=&quot;text-center&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=84.0.4147.125)
  (Driver info: chromedriver=84.0.4147.30 (48b3e868b4cc0aa7e8149519690b6f6949e110a8-refs/branch-heads/4147@{#310}),platform=Windows NT 10.0.15063 x86_64)
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:17:03&apos;
System info: host: &apos;HYD-1K186074H&apos;, ip: &apos;192.168.1.15&apos;, os.name: &apos;Windows 10&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;10.0&apos;, java.version: &apos;1.8.0_201&apos;
Driver info: io.appium.java_client.android.AndroidDriver
Capabilities {appActivity: com.google.android.apps.chr..., appPackage: com.android.chrome, automationName: uiautomator2, browserName: chrome, chromeOptions: {w3c: false}, chromedriverExecutable: C:/Users/P.X.kanapuram/git/..., databaseEnabled: false, desired: {automationName: uiautomator2, browserName: chrome, chromeOptions: {w3c: false}, chromedriverExecutable: C:/Users/P.X.kanapuram/git/..., deviceName: GalaxyS8, platformName: android, platformVersion: 9}, deviceApiLevel: 28, deviceManufacturer: samsung, deviceModel: SM-G950F, deviceName: ce11182bcd9f433e03, deviceScreenDensity: 480, deviceScreenSize: 1080x2220, deviceUDID: ce11182bcd9f433e03, javascriptEnabled: true, locationContextEnabled: false, networkConnectionEnabled: true, pixelRatio: 3, platform: LINUX, platformName: ANDROID, platformVersion: 9, statBarHeight: 72, takesScreenshot: true, viewportRect: {height: 2004, left: 0, top: 72, width: 1080}, warnings: {}, webStorageEnabled: false}
Session ID: a95ff347-3a47-4725-afd6-bd64875294ba
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)
	at java.lang.reflect.Constructor.newInstance(Unknown Source)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:187)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:122)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:49)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at io.appium.java_client.remote.AppiumCommandExecutor.execute(AppiumCommandExecutor.java:239)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at io.appium.java_client.DefaultGenericMobileDriver.execute(DefaultGenericMobileDriver.java:41)
	at io.appium.java_client.AppiumDriver.execute(AppiumDriver.java:1)
	at io.appium.java_client.android.AndroidDriver.execute(AndroidDriver.java:1)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:285)
	at io.appium.java_client.DefaultGenericMobileElement.execute(DefaultGenericMobileElement.java:45)
	at io.appium.java_client.MobileElement.execute(MobileElement.java:1)
	at io.appium.java_client.android.AndroidElement.execute(AndroidElement.java:1)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:84)
	at pages.ReqBrochurePage.enterDetailsForBroucherQuote(ReqBrochurePage.java:57)
	at stepDefinations.ReqBrochureSteps.user_should_enter_details(ReqBrochureSteps.java:35)
	at ?.user should enter details(file:src/test/resources/features/trip.feature:51)
</pre></div><a href='#' onClick='toggleBox("stack-trace1436892228", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace1436892228'><pre>org.openqa.selenium.ElementClickInterceptedException: element click intercepted: Element &lt;a data-ng-if=&quot;searchResult.SecondaryUrl&quot; href=&quot;/why-choose-apt/brochures/requestbrochure?brochureId=2f48b563-343d-4209-9954-dd49249050c5&quot; target=&quot;_blank&quot; class=&quot;btn btn--secondary ng-scope&quot;&gt;...&lt;/a&gt; is not clickable at point (125, 428). Other element would receive the click: &lt;div class=&quot;text-center&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=84.0.4147.125)
  (Driver info: chromedriver=84.0.4147.30 (48b3e868b4cc0aa7e8149519690b6f6949e110a8-refs/branch-heads/4147@{#310}),platform=Windows NT 10.0.15063 x86_64)
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:17:03&apos;
System info: host: &apos;HYD-1K186074H&apos;, ip: &apos;192.168.1.15&apos;, os.name: &apos;Windows 10&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;10.0&apos;, java.version: &apos;1.8.0_201&apos;
Driver info: io.appium.java_client.android.AndroidDriver
Capabilities {appActivity: com.google.android.apps.chr..., appPackage: com.android.chrome, automationName: uiautomator2, browserName: chrome, chromeOptions: {w3c: false}, chromedriverExecutable: C:/Users/P.X.kanapuram/git/..., databaseEnabled: false, desired: {automationName: uiautomator2, browserName: chrome, chromeOptions: {w3c: false}, chromedriverExecutable: C:/Users/P.X.kanapuram/git/..., deviceName: GalaxyS8, platformName: android, platformVersion: 9}, deviceApiLevel: 28, deviceManufacturer: samsung, deviceModel: SM-G950F, deviceName: ce11182bcd9f433e03, deviceScreenDensity: 480, deviceScreenSize: 1080x2220, deviceUDID: ce11182bcd9f433e03, javascriptEnabled: true, locationContextEnabled: false, networkConnectionEnabled: true, pixelRatio: 3, platform: LINUX, platformName: ANDROID, platformVersion: 9, statBarHeight: 72, takesScreenshot: true, viewportRect: {height: 2004, left: 0, top: 72, width: 1080}, warnings: {}, webStorageEnabled: false}
Session ID: a95ff347-3a47-4725-afd6-bd64875294ba
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)
	at java.lang.reflect.Constructor.newInstance(Unknown Source)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:187)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:122)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:49)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at io.appium.java_client.remote.AppiumCommandExecutor.execute(AppiumCommandExecutor.java:239)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at io.appium.java_client.DefaultGenericMobileDriver.execute(DefaultGenericMobileDriver.java:41)
	at io.appium.java_client.AppiumDriver.execute(AppiumDriver.java:1)
	at io.appium.java_client.android.AndroidDriver.execute(AndroidDriver.java:1)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:285)
	at io.appium.java_client.DefaultGenericMobileElement.execute(DefaultGenericMobileElement.java:45)
	at io.appium.java_client.MobileElement.execute(MobileElement.java:1)
	at io.appium.java_client.android.AndroidElement.execute(AndroidElement.java:1)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:84)
	at pages.ReqBrochurePage.enterDetailsForBroucherQuote(ReqBrochurePage.java:57)
	at stepDefinations.ReqBrochureSteps.user_should_enter_details(ReqBrochureSteps.java:35)
	at ?.user should enter details(file:src/test/resources/features/trip.feature:51)
</pre></div></td>
<td>68</td>
<td>runner.ReqBrochureRunner@ed9d034</td></tr>
</table><p>
</body>
</html>